Repository smbonn2005/HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/bootstrap

fix: use production LE certificates
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/certificates/kustomization.yaml
Labels: area/kubernetes

fix: swap ipv4 to ingress from cloudflared swap
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/default/pterodactyl/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/networking/external-services/app/external-projects.yaml
  kubernetes/apps/networking/external-services/app/external-wings.yaml
Labels: area/kubernetes

fix: Re-enable namespaces
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: Re-enable all apps, change grafana to longhorn storage
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/mariadb/app/kustomization.yaml
  kubernetes/apps/databases/redis/app/kustomization.yaml
  kubernetes/apps/media/doplarr/app/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/readarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/monitoring/alertmanager-discord-webhook/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix: Finish enabling apps
  kubernetes/apps/default/heimdall/app/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/pterodactyl/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/speedtest/app/kustomization.yaml
  kubernetes/apps/default/uptime/app/kustomization.yaml
Labels: area/kubernetes

fix: Missed a comma when adding package rules
  .github/renovate.json5
Labels: area/github

fix: Longhorn dependancy namespace
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): add intel things
  ansible/playbooks/cluster-prepare.yaml
Labels: area/ansible

fix(ansible): add CORRECT intel things
  ansible/playbooks/cluster-prepare.yaml
Labels: area/ansible

fix: Plex HW Transcoding access
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image mariadb to v12.2.9"
  kubernetes/apps/databases/mariadb/app/helmrelease.yaml
Labels: area/kubernetes

fix: buttnami mariadb breaking again
  kubernetes/apps/databases/mariadb/app/helmrelease.yaml
Labels: area/kubernetes

chore: renovate helm.cattle.io/v1 HelmCharts
  .github/renovate.json5
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
Labels: area/github, area/bootstrap

chore: add mikestead.dotenv to vscode extensions
  .vscode/extensions.json
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/bootstrap:
  - "bootstrap/**/*"
